*.iml
.gradle
/local.properties
/.idea/
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/fragmentTransactionExample/build
/libraryFragmentTransactionExtended/build
gradle/
import-summary.txt
gradlew
gradlew.bat
settings.gradle
